/* Fonts */
body {
    font-family: 'Lato', sans-serif;
}

/* Shared */
*{
    margin: 0;
}
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}
.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.section-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    display: block;
    max-width: 600px;
    margin: auto;
    margin-bottom: 45px;
}
/* Header */
.header {
    background: rgba(229, 84, 115, 0.10);
}
.banner {
    display: flex;
    padding: 0 150px;
    justify-content: space-between;
}
.banner-content {
    margin-top: 140px;
}
.title {
    color: #272727;
    font-size: 55px;
    font-weight: 900;
    max-width: 460px;
}
.description {
    padding: 32px 0;
    max-width: 610px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.banner-flower {
    width: 475px;
    margin-top: 50px;
}

/* Main */


/*feature */
.feature {
    padding: 0 150px;
    margin-top: 120px;
    margin-bottom: 80px;
}
.flower-set {
    display: flex;
    justify-content: center;
}
.box {
    border-radius: 300px 300px 0px 0px;
    width: 345px;
    height: 400px;
}
.first img{
    width: 250px;
    margin: 55px 0 0 30px;
}
.second img {
    width: 250px;
    margin: 80px 0 0 45px;
}
.third img{
    width: 250px;
    margin: 25px 0 0 45px;
}
.flower-box h5{
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 20px;
}
.first{
     background: rgba(167, 33, 98, 0.15);
}
.second{
    background: rgba(5, 151, 160, 0.15);
}
.third{
    background: rgba(71, 125, 17, 0.15);
}
.flower-box{
    margin-right: 24px;
}

/* Hot Deal */
.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 0 150px;
}
.sec-banner{
    display: flex;
    justify-content: space-between;
}
.sec-content {
    margin-top: 160px;
}
.sec-content button {
    display: block;
    margin: auto;
}
.sec-image{
    width: 300px;
    margin-top: 60px;
    margin-bottom: 60px;
}